*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}



body{ 
    background-color: rgb(23, 99, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {

    /* margin: 10px; */
    border: 1px solid rgb(244, 236, 144);
}

.textinput{
    height: 80px;
    min-width: 480px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.4);
    display: flex;
    
   
}

#addbtn{
    position: relative;
    float: right;
    margin: 0;
    /* margin-left: ; */
    height: 41px;
    width: 80px;
    background-color: rgb(23, 99, 222);
    color: white;
    font-size: large;
    font-family: 'poppins', sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   
}



#addbtn:hover{
    background-color: rgb(6, 33, 189);
}

input[type=text]{
    height: 40px;
    width: 340px;
    margin: 0;
    font-size: 20px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.containt{
    gap: 10px;
    display: flex;
    
}

.todo_task{
    
    border-radius: 5px;
    height: 60px;
    width: 480px;
    background-color: white;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.textstyle{
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    /* padding-top: ; */
}

.dlt-btn {
    background-color: rgb(23, 99, 222);
    color: white;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    cursor: pointer;
    font-size: 17px;
    /* gap: 220px; */
    /* align-self: flex-end; */
}



.dlt-btn:hover{
    background-color: rgb(6, 33, 189);
}


p{
    display: inline-block;
    
}

/* .task{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */






